#MENUCARD h1{
    text-align: center;
    font-size: 3.5rem;
    text-decoration: underline;
    border: 1px solid orangered;
}

#MENUCARD section{
    text-align: center;
    border: 1rem solid black;
    padding: 0;
    margin: 0;
}

section .gpcontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    /* justify-content: center; */
    /* align-content: center; */
    border:0.7rem solid gray ;
}

section .gpcontainer .group{
    border: 0.3rem solid rgb(247, 0, 255); 
    border-radius: 1rem;
    /* margin: 2rem; */
    background-color: rgba(165, 42, 42, 0.726);
    /* background-blend-mode:exclusion; */
}

section .gpcontainer .group h2{
    text-decoration: underline;
    font-size: 2rem;
    border: 1px solid black;
}

section .gpcontainer .group .container{
    /* display: flex; */
    /* margin: 1rem 1rem; */
    /* padding-top: 0.6rem; */
    /* flex-wrap: nowrap; */
    /* justify-content:center; */
    /* align-content: center; */
    border-bottom: 0.2rem dashed rgba(0, 0, 0, 0.589);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    /* column-gap: 2rem; */
}

section .gpcontainer .group .container div{
    /* text-align: center; */
    /* border: 1px double rgb(0, 60, 255); */
    /* background-color: indigo; */
    margin-top: 1rem;
    
}
 
section .gpcontainer .group .container .menuDish{
    text-align: center;
    border: 0.3rem solid red;
    /* flex-grow: 4; */
    font-size: 1.2rem;
    font-style:oblique;
    font-weight: bolder;
    padding: 0.7rem;
    margin-right: 1rem;
    /* width: 30%; */
}
section .gpcontainer .group .container .menuPrice{
    border: 0.3rem solid blue;
    margin-right: 1rem;
    font-size: 1.6rem;
    margin-left: 1rem;
    text-align: center;
    /* padding: 0.7rem; */
    /* flex-grow: 3; */
    /* width: 20%; */
}

/* section .gpcontainer .group .container .menuPrice span{
    /* display: flex; */
    /* justify-content: center; */
    /* margin: 0; */
    /* padding: 0; */
    /* flex-wrap: nowrap; */
    /* display: grid; */
    /* grid-template-rows: repeat(3,1fr); */
/* }  */


section .gpcontainer .group .container .menuOrder{
    border: 0.3rem solid brown;
    /* flex-grow: 2; */
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 200;
    /* padding: 0.7rem; */
    margin-left: 1rem;
    background-color: rgb(0, 60, 255);
    color: aliceblue;
    /* width: 40%; */
    border-radius: 1rem;
    /* text-align: center; */
    
}
section .gpcontainer .group .container .menuOrder:hover{
    background-color: rgb(0, 110, 255);

}
/* section .gpcontainer .group .container .menuPlates {
    border: 0.3rem solid violet;
    font-size: 1rem;
    padding: 0.7rem;
    flex-grow: 0.5;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 10%;
    border-radius: 1rem;
} */
